.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  max-width: 100%;
  max-height: 100%;
  grid-template-areas:
    "headDoc headDoc headDoc"
    "precios promociones grupos"
    "foot foot foot";
}
.body {
    background: whitesmoke;
}

.precios {
  grid-area: precios;
  margin: 60px;
}

.promociones {
  grid-area: promociones;
}

.foot { grid-area: foot; }

.grupos { grid-area: grupos; }

.headDoc {
  grid-area: headDoc;
  justify-content: center;
  background: red;
  display: flex;
  align-items: center;
  margin: 30px;
  color: white;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

table.minimalistBlack {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border: 3px solid #005383;
  background: -moz-linear-gradient(top, #E1EEE6 0%, #B3EDEE 66%, #97EECD 100%);
  background: -webkit-linear-gradient(top, #E1EEE6 0%, #B3EDEE 66%, #97EECD 100%);
  background: linear-gradient(to bottom, #E1EEE6 0%, #B3EDEE 66%, #97EECD 100%);
  width: 100%;
  height: 100px;
  text-align: left;
  border-collapse: collapse;
  border-radius: 10px;
}
.title table.minimalistBlack thead th {
  color: green;
  z-index: -1;
}
table.minimalistBlack td, table.minimalistBlack th {
  border: 0px solid #005383;
  padding: 4px 4px;
  text-align: center;
}
table.minimalistBlack tbody td {
  font-size: 13px;
  color: #000000;
}
table.minimalistBlack thead {
  background: #55CF6C;
  background: -moz-linear-gradient(top, #7fdb91 0%, #66d37a 66%, #55CF6C 100%);
  background: -webkit-linear-gradient(top, #7fdb91 0%, #66d37a 66%, #55CF6C 100%);
  background: linear-gradient(to bottom, #7fdb91 0%, #66d37a 66%, #55CF6C 100%);
  border-bottom: 3px solid #005383;
}
table.minimalistBlack thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  border: 0px;
}
table.minimalistBlack tfoot td {
  font-size: 14px;
}
table.redTable {
  border: 2px solid #540303;
  background: #d18686;
background: linear-gradient(90deg, rgba(209, 134, 134, 1) 0%, rgba(196, 164, 134, 1) 62%, rgba(255, 243, 217, 1) 100%);
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.redTable thead, table.redTable th {
background: #9b2a2a;
background: linear-gradient(90deg, rgba(155, 42, 42, 1) 0%, rgba(199, 145, 87, 1) 62%, rgba(237, 83, 83, 1) 100%);
}
table.redTable td, table.redTable th {
  border: 1px solid #5C0000;
  padding: 3px 2px;
  
}
table.redTable tbody td {
  font-size: 13px;
}
table.redTable tr:nth-child(even) {
  background: #ffb5b5;
background: linear-gradient(90deg, rgba(255, 181, 181, 1) 0%, rgba(224, 208, 193, 1) 62%, rgba(255, 238, 201, 1) 100%);
}
table.redTable thead {
  background: #A40808;
}
table.redTable thead th {
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 0px solid #540303;
}
table.redTable thead th:first-child {
  border-left: none;
}