<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Plantilla de Examen</title>
  <link rel="stylesheet" href="styler.css" />
</head>
<body id="body">
 
  <h1>Plantilla de Examen</h1>
 
  <!-- DOMContentLoaded -->
  <section>
    <h2 id="titulo">Título original</h2>
    <p id="estado"></p>
  </section>
 
  <!-- Click: contador -->
  <section>
    <h3>Boton Contador</h3>
    <button id="btnContador">Sumar</button>
    <p>Valor: <span id="contador">0</span></p>
  </section>
 
  <!-- Click: cambiar color -->
  <section>
    <h3>Modo Oscuro</h3>
    <button id="btnColor">Cambiar color</button>
    <div id="cajaColor"></div>
  </section>
 
  <!-- Mouseover / Mouseout -->
  <section>
    <h3>Eventos de ratón</h3>
    <div id="zonaHover1" class="zonaHover">Pasa el ratón</div>
    <p id="hoverMsg1"></p>
  </section>
  <section>
    <h3>Eventos de ratón 2</h3>
    <div id="zonaHover2" class="zonaHover">Pasa el ratón</div>
    <p id="hoverMsg2"></p>
  </section>
 
 
  <!-- Input -->
  <section>
    <h3>Evento input</h3>
    <input type="text" id="texto" placeholder="Escribe algo">
    <p>Eco: <span id="eco"></span></p>
  </section>
 
  <!-- Change -->
  <section>
    <h3>Evento change</h3>
    <input type="text" id="textoConfirm" placeholder="Escribe y sal del campo">
    <p id="confirmMsg"></p>
  </section>
 
  <!-- Teclado -->
  <section>
    <h3>Evento keydown</h3>
    <p id="teclaMsg">Pulsa cualquier tecla</p>
  </section>
 
  <!-- Mixto -->
  <section>
    <h3>Evento mixto</h3>
    <button id="btnBloqueado">Botón bloqueado</button>
    <p id="bloqueadoMsg"></p>
  </section>
 
  <!-- JS -->
  <script src="script.js"></script>
 
</body>
</html>