body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #f4f4f4;
}

.container {  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10% 40% 40%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header Header Header"
    "void img1 img2 img3 void2"
    "void img4 img5 imgPack void2";
}

.Header { grid-area: Header;}

.void { grid-area: void; }

.void2 { grid-area: void2; }

.img1 { grid-area: img1; }

.img2 { grid-area: img2; }

.img3 { grid-area: img3; }

.img4 { grid-area: img4; }

.img5 { grid-area: img5; }

.imgPack {  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "i1 t1"
    "i2 t2";
  grid-area: imgPack;
}

.i1 { grid-area: i1; }

.i2 { grid-area: i2; }

.t1 { grid-area: t1; }

.t2 { grid-area: t2; }


.header {
	background-color: #c62828;
	color: white;
	padding: 20px;
	font-size: 28px;
	font-weight: bold;
}

.images {
	display: flex;
	justify-00content: center;
	flex-wrap: wrap;
	margin: 2px;
}

.image-box {
	padding: 10px;
	align-content: justify-00content;
}

.image-box img {
	display: block;
	margin: 0 auto 5px auto;
	border-radius: 6px;
	size: 300px;
}

/*Mejora examen*/
.subtitle {
	font-size: 12px;
	text-align: left;
	font-color: ddd;
	padding: 0px;
	margin: 0px;
}

.foot {
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	font-color: ddd;
	text-align: left;
	bottom-left: 0px;
}

.title {
	font-weight: bold;
	text-align: left;
	font-size: 25px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
}

.publicidad {
	font-size: 12px;
	text-align: center;
	font-color: ddd;
}