<!DOCTYPE html>
<html lang="es">
	<head>
    	<meta charset="UTF-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<title>Nombre de la Página</title>
    	<link rel="stylesheet" href="styles.css" />
  	</head>
	<body>
		<div class="header">
			El texto Título va aquí
		</div>

		<div class="images">
			<div class="image-box">
				<img src="image1.png" alt="Image 1">
				<p>Imagen 1</p>
			</div>
			<div class="image-box">
				<img src="image2.png" alt="Image 2">
				<p>Imagen 2</p>
			</div>
			<div class="image-box">
				<img src="image3.png" alt="Image 3">
				<p>Imagen 3</p>
			</div>
		</div>

		<div class="action-boxes">
			<div class="action">
				<img src="image4.png" alt="Image 4">
				<button class="accept">Aceptar</button>
				<button class="cancel">Cancelar</button>
			</div>
			<div class="action">
			<img src="image5.png" alt="Image 5">
				<button class="accept">Acceptar</button>
				<button class="cancel">Cancelar</button>
			</div>
		</div>

		<div class="tables">
			<div class="table-left">
				<table>
					<tr><th>Plato</th><th>Precio</th></tr>
					<tr><td>Pasta</td><td>10 euros</td></tr>
					<tr><td>Ensalada</td><td>8 euros</td></tr>
					<tr><td>Sopa</td><td>7 euros</td></tr>
				</table>
			</div>
			<div class="table-right">
				<table>
					<tr><th>Alquiler</th><th>Precio</th></tr>
					<tr><td>Camarero</td><td>12 euros</td></tr>
					<tr><td>Limpiador</td><td>11 euros</td></tr>
					<tr><td>Chofer</td><td>5 euros</td></tr>
				</table>
			</div>
		</div>

		<div class="footer">
			Este es el fin de la página, gracias por leer.
		</div>
	
	</body>
</html>
