body {
	font-family: Arial, sans-serif;
	background-color: #ffffff;
}

.main {
  display: flex;
  margin-left: 30%;
  margin-right: 30%;
  min-width: 0%;
  justify-content: center;
}
.container {  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "img1 img2 img3 img4 img5"
    "img1 img2 img3 img4 img5"
    "txt1 txt2 txt3 txt4 txt5";
  /*margin: auto;*/
  height: 50%;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
}
.container img {
  min-width: 100%;
}

 .img1, .img2, .img3, .img4, .img5 {
  scale: 80%;
  display: flex;
  justify-content: fit-content;
  width: auto;
  height: auto;
  min-width: 10%;
}
.img1 { 
  grid-area: img1;
  /*height: 100%;*/
  /*width: fit-content;*/
  /*height: 15%;*/
  /*scale: 100%;*/
}

.img2 {
  grid-area: img2; 
  /*height: 100%;*/
  /*width: fit-content;*/
  /*height: 10%;*/
  scale: 90%;
}

.img3 {
  grid-area: img3;
  /*height: 100%;*/
  /*width: fit-content;*/
  /*height: 10%;*/
  /*scale: 100%;*/
}

.img4 {
  grid-area: img4;
  /*height: 100%;*/
  /*width: fit-content;*/
  /*height: 10%;*/
  /*scale: 100%;*/
}

.img5 {
  grid-area: img5;
  /*height: 100%;*/
  /*width: fit-content;*/
  /*height: 10%;*/
  /*scale: 100%;*/
}
.txt1 {
  grid-area: txt1;
  display: flex;
  font-size: 8px;
  line-height: 1.4;
  text-align: left;
  max-width: 100%;
  height: 50%;
  color: #6e6e6e;
  height: 100%;
  width: fit-content;
  margin-right: 12%;
  margin-left: 12%;
  font-weight: bold;
}

.txt2 {
  grid-area: txt2;
  display: flex;
  font-size: 8px;
  line-height: 1.4;
  text-align: left;
  max-width: 100%;
  height: 100%;
  color: #6e6e6e;
  width: fit-content;
  margin-right: 12%;
  margin-left: 12%;
  font-weight: bold;
}

.txt3 {
  grid-area: txt3;
  display: flex;
  font-size: 8px;
  line-height: 1.4;
  text-align: left;
  max-width: 100%;
  color: #6e6e6e;
  height: 100%;
  width: fit-content;
  margin-right: 12%;
  margin-left: 12%;
  font-weight: bold;
}

.txt4 {
  grid-area: txt4;
  display: flex;
  font-size: 8px;
  line-height: 1.4;
  text-align: left;
  max-width: 100%;
  color: #6e6e6e;
  height: 100%;
  width: fit-content;
  margin-right: 12%;
  margin-left: 12%;
  font-weight: bold;
}

.txt5 {
  grid-area: txt5;
  display: flex;
  font-size: 8px;
  line-height: 1.4;
  text-align: left;
  max-width: 100%;
  height: 100%;
  color: #6e6e6e;
  width: fit-content;
  margin-right: 12%;
  margin-left: 12%;
  font-weight: bold;
}
